.searchinput {
  top: 50%;
  left: 50%;
  margin-top: 7%;
  margin-bottom: 35%;
  margin-left: 17%;
  height: 4rem;
  width: 60%;
  outline: none;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
