.bgdoctor {
  background: url(https://images.indianexpress.com/2022/01/doctor-759-4-1.jpg)
    no-repeat;
  background-size: cover;
  min-height: 90vh;
  width: 100%;
}

.bgdp {
  background: rgb(19, 28, 39);
  background: linear-gradient(
    0deg,
    rgba(185, 186, 184, 1) 0%,
    rgba(19, 28, 39, 1) 0%,
    rgba(181, 177, 174, 1) 100%,
    rgba(29, 28, 27, 1) 100%
  );
  background-size: cover;
  min-height: 90vh;
  width: 100%;
}
.card {
  background: whitesmoke;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  margin-top: 15px;
  padding: 1rem,1rem;
  text-align: center;
  font-size: large;
}

.card .suggestionDiv{
  background: wheat;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;

}

.card .date_time{
  text-align: right;
  margin-right: 10px;
}

.suggheading{
  margin-top: 10px;
  padding: 0.3rem;
}

.addbtn{
  width: 150px;
  height: 50px;
  background: black;
  color: aliceblue;
  padding: 5px;
  border-radius: 10px;
  margin-left: 25px;
}

.box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 10%;
}

.box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  background: white;
}

.box-container .box .content {
  padding: 1rem;
}

.box-container .box .box {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: #221044;
  margin: 0.6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.box-container .box .content .row form {
  flex: 1 1 50rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

 .box-container .box .content .row form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

 .box-container .box .content .row form .inputBox input,
 .row form textarea {
  width: 60%;
  margin: 0.7rem 0;
  padding: 0.7rem;
  font-size: 1rem;
  color: #333;
  background: #f7f7f7;
  text-transform: none;
}

 .box-container .box .content .row form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}

.container {
  top: 50%;
  left: 50%;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 17%;
  width: 65%;
  height: 100%;
  background-color: #fff;
  padding: 1.5% 1.5%;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: black;
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .blood-input-box {
  margin-bottom: 15px;
  margin-left: 25px;
  width: calc(100% / 1);
}

form .user-details .drug-input-box {
  margin-bottom: 15px;
  margin-right: 10px;
  width: calc(100% / 4);
}

form .blood-input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

form .drug-input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .blood-input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .drug-input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .blood-input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  text-align: center;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .blood-input-box input:focus,
.user-details .blood-input-box input:valid {
  border-color: black;
}
form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}
form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  background: black;
  border-color: #d9d9d9;
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 35px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: black;
}
form .button input:hover {
  /* transform: scale(0.99); */
  background: darkgray;
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .blood-input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
